In [2]:
import pandas as pd

predict = pd.read_csv('predict_revenue_new_product.csv')
predict

        predict
0   7933.617133
1   5384.884877
2   3193.258059
3   2374.547511
4   6251.306675
..          ...
79  3410.317342
80  2382.526379
81  7200.511375
82  1717.510954
83  2836.914457

[84 rows x 1 columns]

In [6]:
new_product = pd.read_csv('df_new_product.csv', index_col=0)
new_product

   Manufacturer  MonthNo  Model_id_number   CategoryInSegmentInCompete
0         Abbas        1               33  RuralProductivityNotCompete
1         Barba        1               33  RuralProductivityNotCompete
2         Pirum        1               33  RuralProductivityNotCompete
3        Natura        1               33  RuralProductivityNotCompete
4     VanArsdel        1               33  RuralProductivityNotCompete
..          ...      ...              ...                          ...
79        Pirum       12               33  RuralProductivityNotCompete
80       Natura       12               33  RuralProductivityNotCompete
81    VanArsdel       12               33  RuralProductivityNotCompete
82       Salvus       12               33  RuralProductivityNotCompete
83     Victoria       12               33  RuralProductivityNotCompete

[84 rows x 4 columns]

In [8]:
df = new_product.merge(predict, how = 'left', left_index=True, right_index=True)

In [9]:
df

,Manufacturer,MonthNo,Model_id_number,CategoryInSegmentInCompete,predict
0,Abbas,1,33,RuralProductivityNotCompete,7933.617133
1,Barba,1,33,RuralProductivityNotCompete,5384.884877
2,Pirum,1,33,RuralProductivityNotCompete,3193.258059
3,Natura,1,33,RuralProductivityNotCompete,2374.547511
4,VanArsdel,1,33,RuralProductivityNotCompete,6251.306675
...,...,...,...,...,...
79,Pirum,12,33,RuralProductivityNotCompete,3410.317342
80,Natura,12,33,RuralProductivityNotCompete,2382.526379
81,VanArsdel,12,33,RuralProductivityNotCompete,7200.511375
82,Salvus,12,33,RuralProductivityNotCompete,1717.510954
83,Victoria,12,33,RuralProductivityNotCompete,2836.914457

In [10]:
df.to_csv('df_new_product_predict_full.csv')

In [11]:
%%html
<div class='tableauPlaceholder' id='viz1696871255383' style='position: relative'><noscript><a href='#'><img alt='predict_new_product ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Di&#47;Diplom_16961761265220&#47;predict_new_product&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Diplom_16961761265220&#47;predict_new_product' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Di&#47;Diplom_16961761265220&#47;predict_new_product&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1696871255383');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>